@charset "UTF-8";

// Importar componentes do Materialize
@import "components/tokens.module";
@import "components/theme.module";
//@import "components/_theme_variables";
@import "components/colors.module";
@import "components/typography.module";

// Color
@import "components/color-variables";
@import "components/color-classes";
// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/collection";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";

@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";

.user-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        border-radius: 50%;
    }
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .btn {
        margin-top: 1rem;
    }
}

.review-form {
    .btn {
        margin-top: 20px; // Adiciona uma margem superior ao botão
    }
}

.carousel {
    height: 200rem; // Defina a altura desejada para o carrossel
    width: 800rem;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%; // Ajuste a altura das imagens para preencher o carrossel
    object-fit: cover;
}